extends default

block content

   
    #demo.carousel.slide(data-ride='carousel')
        ul.carousel-indicators
            li.active(data-target='#demo' data-slide-to='0')
            li(data-target='#demo' data-slide-to='1')
            li(data-target='#demo' data-slide-to='2')
        .carousel-inner
            .carousel-item.active
                a(href=`/${categories[0]}`)
                    img(src = images[0] alt = 'image' width='1100' height='500')
                .carousel-caption
                    p.title #{categories[0]} News
            .carousel-item
                a(href=`/${categories[1]}`)
                    img(src = images[1] alt = 'image' width='1100' height='500')
                .carousel-caption
                    p.title #{categories[1]}
            .carousel-item
                a(href=`/${categories[2]}`)
                    img(src = images[2] alt = 'image' width='1100' height='500')
                .carousel-caption
                    p.title #{categories[2]} News
            //-     a(href='/sports')
            //-         img(src='static/images/main-page/sport.png' alt='Los Angeles' width='1100' height='500')
            //-     .carousel-caption
            //-         p.title Sports News
            //- .carousel-item
            //-     a(href='/entertainment')
            //-         img(src='static/images/main-page/entertainment.png' alt='Chicago' width='1100' height='500')
            //-     .carousel-caption
            //-         p.title Entertainment
            //- .carousel-item
            //-     a(href='/health')
            //-         img(src='static/images/main-page/travel-1.png' alt='New York' width='1100' height='500')
            //-     .carousel-caption
            //-         p.title Travel News
        a.carousel-control-prev(href='#demo' data-slide='prev')
            span.carousel-control-prev-icon
        a.carousel-control-next(href='#demo' data-slide='next')
            span.carousel-control-next-icon
    .category-container
        p.category-title CATEGORY
        .grid-container
            .grid-sport
                a(href='/sports')
                    p.category-font sport
            .grid-art
                a(href='/health')
                    p.category-font Health
            .grid-entertainment
                a(href='/entertainment')
                    p.category-font Entertainment
            .grid-technology
                a(href='/technology')
                    p.category-font Technology
            .grid-politics
                a(href='/science')
                    p.category-font Science
            .grid-finance
                a(href='/business')
                    p.category-font Business

        

