extends default

block content
    div.arts-news-title-container
        img(src='/static/images/news/news-1.jpg' alt='art' width='100%')
        p.category-title #{title}

    div.container
        .dislike
        a(href =`/likednews/${eachnews.category}/${eachnews._id}`)
            button.dislike #{Liked}
        img(src = eachnews.imageurl alt='art' width='30%')                                                                   
        p.category-news-font 
            a(href=`/findnews/${eachnews._id}`) #{eachnews.description}
            
    

    script(type='text/javascript', src='http://libs.baidu.com/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript').

        $(function () {            
            $(".dislike").click(function () {
                $(this).toggleClass('like');
            })
        })
